/*********************************************
 * GLOBAL
 *********************************************/
:root {
    --r-main-font-size: 1.5rem;
    --r-code-font: Fira code;
    --admonition-bg-opacity: 0.25;
    --admonition-note-color: 52, 152, 219;
    --admonition-caution-color: 194, 166, 29;
    --admonition-danger-color: 188, 59, 43;
}

/*********************************************
 * CUSTOM ROLES
 *********************************************/
.striked{
    text-decoration: line-through;
}

/*********************************************
 * SLIDES
 *********************************************/
.reveal .slides>section,
.reveal .slides>section>section {
	padding: 0px 0px;
  text-align: left;
}


/*********************************************
 * EPIGRAPH
 *********************************************/
blockquote.epigraph{
    max-width: fit-content;
    padding: 0.7em;
}
blockquote.epigraph > p{
    margin-block: 0px;
}


/*********************************************
 * TWO COLUMNS
 *********************************************/
.columns{
    width: 100%;
  }
.columns div.left{
    width: 47%;
    float: left;
}
.columns div.right{
    width: 47%;
    float: right;
}

/*********************************************
 * IMAGES
 *********************************************/

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.reveal img.align-right {
    display: inline;
    float: right;
    border: none;
    box-shadow: none;
}

.reveal img.align-left {
    display: inline;
    float: left;
    border: none;
    box-shadow: none;
}

.reveal img.align-center {
    display: inline;
    float: center;
    border: none;
    box-shadow: none;
}

/*********************************************
 * VIDEOS
 *********************************************/

.reveal video {
    display: inline;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
}


/*********************************************
 * CODE
 *********************************************/
.reveal pre {
    box: none;
    box-shadow: none;
}

/*********************************************
 * LISTS
 *********************************************/
.reveal ul {
    margin-top: 10px;
    margin-bottom: 10px;
}
.reveal ol {
    margin-top: 10px;
    margin-bottom: 10px;
}
.reveal li {
    margin-top: 10px;
    margin-bottom: 10px;
}


/*********************************************
 * SLIDE NUMBER
 *********************************************/
#slide-number {
    margin: 10px auto;
    display: inline;
    float: right;
}

/*********************************************
 * ADMONITIONS
 *********************************************/
.admonition {
    font-size: 1.2rem;
    padding: 12px;
    margin-top: 2.9rem;
    position: relative;
}

.admonition > p {
    margin-inline: 0px;
    margin-block: 0.2rem;
}

.note p.first.admonition-title,
.caution p.first.admonition-title,
.warning p.first.admonition-title,
.danger p.first.admonition-title {
    color:transparent;
    max-height: 0px;
}


.admonition:before {
    position: absolute;
    bottom: 100%;
    left: -4px;
    font-size: 1.7rem;
    line-height: 1em;
    border-radius: 10px 10px 0px 0px;
    padding-block: 2px;
    padding-inline: 4px;
    color: var(--r-background-color);
}


.admonition.note {
    background-color: rgba(var(--admonition-note-color), var(--admonition-bg-opacity));
    border-left: solid 4px rgb(var(--admonition-note-color));
    color: rgb(var(--admonition-note-color));
}

.admonition.note:before {
    content: '🖉';
    background: rgb(var(--admonition-note-color));
}

.admonition.caution,
.admonition.warning {
    background-color: rgba(var(--admonition-caution-color), var(--admonition-bg-opacity));
    border-left: solid 4px rgb(var(--admonition-caution-color));
    color: rgb(var(--admonition-caution-color));
}

.admonition.warning:before,
.admonition.caution:before {
    content: '⚠ ';
    background: rgb(var(--admonition-caution-color));
}

.admonition.danger {
    background-color: rgba(var(--admonition-danger-color), var(--admonition-bg-opacity));
    border-left: solid 4px rgb(var(--admonition-danger-color));
    color: rgb(var(--admonition-danger-color));
}

.admonition.danger:before {
    content: '🛇 ';
    background: rgb(var(--admonition-danger-color));
}

/*********************************************
 * MATPLOTLIB
 *********************************************/
.matplotlib-container {
    overflow: auto;
}
