pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
pre.code.literal-block .hll { background-color: #ffffcc }
pre.code.literal-block { background: #ffffff; }
pre.code.literal-block .c { color: #95a5a6 } /* Comment */
pre.code.literal-block .err { color: #a61717 } /* Error */
pre.code.literal-block .k { color: #728E00 } /* Keyword */
pre.code.literal-block .n { color: #434f54 } /* Name */
pre.code.literal-block .o { color: #728E00 } /* Operator */
pre.code.literal-block .ch { color: #95a5a6 } /* Comment.Hashbang */
pre.code.literal-block .cm { color: #95a5a6 } /* Comment.Multiline */
pre.code.literal-block .cp { color: #728E00 } /* Comment.Preproc */
pre.code.literal-block .cpf { color: #95a5a6 } /* Comment.PreprocFile */
pre.code.literal-block .c1 { color: #95a5a6 } /* Comment.Single */
pre.code.literal-block .cs { color: #95a5a6 } /* Comment.Special */
pre.code.literal-block .kc { color: #00979D } /* Keyword.Constant */
pre.code.literal-block .kd { color: #728E00 } /* Keyword.Declaration */
pre.code.literal-block .kn { color: #728E00 } /* Keyword.Namespace */
pre.code.literal-block .kp { color: #00979D } /* Keyword.Pseudo */
pre.code.literal-block .kr { color: #00979D } /* Keyword.Reserved */
pre.code.literal-block .kt { color: #00979D } /* Keyword.Type */
pre.code.literal-block .m { color: #8A7B52 } /* Literal.Number */
pre.code.literal-block .s { color: #7F8C8D } /* Literal.String */
pre.code.literal-block .na { color: #434f54 } /* Name.Attribute */
pre.code.literal-block .nb { color: #728E00 } /* Name.Builtin */
pre.code.literal-block .nc { color: #434f54 } /* Name.Class */
pre.code.literal-block .no { color: #434f54 } /* Name.Constant */
pre.code.literal-block .nd { color: #434f54 } /* Name.Decorator */
pre.code.literal-block .ni { color: #434f54 } /* Name.Entity */
pre.code.literal-block .ne { color: #434f54 } /* Name.Exception */
pre.code.literal-block .nf { color: #D35400 } /* Name.Function */
pre.code.literal-block .nl { color: #434f54 } /* Name.Label */
pre.code.literal-block .nn { color: #434f54 } /* Name.Namespace */
pre.code.literal-block .nx { color: #728E00 } /* Name.Other */
pre.code.literal-block .py { color: #434f54 } /* Name.Property */
pre.code.literal-block .nt { color: #434f54 } /* Name.Tag */
pre.code.literal-block .nv { color: #434f54 } /* Name.Variable */
pre.code.literal-block .ow { color: #728E00 } /* Operator.Word */
pre.code.literal-block .mb { color: #8A7B52 } /* Literal.Number.Bin */
pre.code.literal-block .mf { color: #8A7B52 } /* Literal.Number.Float */
pre.code.literal-block .mh { color: #8A7B52 } /* Literal.Number.Hex */
pre.code.literal-block .mi { color: #8A7B52 } /* Literal.Number.Integer */
pre.code.literal-block .mo { color: #8A7B52 } /* Literal.Number.Oct */
pre.code.literal-block .sa { color: #7F8C8D } /* Literal.String.Affix */
pre.code.literal-block .sb { color: #7F8C8D } /* Literal.String.Backtick */
pre.code.literal-block .sc { color: #7F8C8D } /* Literal.String.Char */
pre.code.literal-block .dl { color: #7F8C8D } /* Literal.String.Delimiter */
pre.code.literal-block .sd { color: #7F8C8D } /* Literal.String.Doc */
pre.code.literal-block .s2 { color: #7F8C8D } /* Literal.String.Double */
pre.code.literal-block .se { color: #7F8C8D } /* Literal.String.Escape */
pre.code.literal-block .sh { color: #7F8C8D } /* Literal.String.Heredoc */
pre.code.literal-block .si { color: #7F8C8D } /* Literal.String.Interpol */
pre.code.literal-block .sx { color: #7F8C8D } /* Literal.String.Other */
pre.code.literal-block .sr { color: #7F8C8D } /* Literal.String.Regex */
pre.code.literal-block .s1 { color: #7F8C8D } /* Literal.String.Single */
pre.code.literal-block .ss { color: #7F8C8D } /* Literal.String.Symbol */
pre.code.literal-block .bp { color: #728E00 } /* Name.Builtin.Pseudo */
pre.code.literal-block .fm { color: #D35400 } /* Name.Function.Magic */
pre.code.literal-block .vc { color: #434f54 } /* Name.Variable.Class */
pre.code.literal-block .vg { color: #434f54 } /* Name.Variable.Global */
pre.code.literal-block .vi { color: #434f54 } /* Name.Variable.Instance */
pre.code.literal-block .vm { color: #434f54 } /* Name.Variable.Magic */
pre.code.literal-block .il { color: #8A7B52 } /* Literal.Number.Integer.Long */
