pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
pre.code.literal-block > span.hll { background-color: #3c3836 }
pre.code.literal-block > span.c { color: #928374; font-style: italic } /* Comment */
pre.code.literal-block > span.err { color: #fbf1c7; background-color: #9d0006 } /* Error */
pre.code.literal-block > span.k { color: #9d0006 } /* Keyword */
pre.code.literal-block > span.ch { color: #928374; font-style: italic } /* Comment.Hashbang */
pre.code.literal-block > span.cm { color: #928374; font-style: italic } /* Comment.Multiline */
pre.code.literal-block > span.c-PreProc { color: #427b58; font-style: italic } /* Comment.PreProc */
pre.code.literal-block > span.cp { color: #928374; font-style: italic } /* Comment.Preproc */
pre.code.literal-block > span.cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
pre.code.literal-block > span.c1 { color: #928374; font-style: italic } /* Comment.Single */
pre.code.literal-block > span.cs { color: #3c3836; font-weight: bold; font-style: italic } /* Comment.Special */
pre.code.literal-block > span.gd { color: #fbf1c7; background-color: #9d0006 } /* Generic.Deleted */
pre.code.literal-block > span.ge { font-style: italic } /* Generic.Emph */
pre.code.literal-block > span.gr { color: #9d0006 } /* Generic.Error */
pre.code.literal-block > span.gh { color: #3c3836; font-weight: bold } /* Generic.Heading */
pre.code.literal-block > span.gi { color: #fbf1c7; background-color: #79740e } /* Generic.Inserted */
pre.code.literal-block > span.go { color: #32302f } /* Generic.Output */
pre.code.literal-block > span.gp { color: #7c6f64 } /* Generic.Prompt */
pre.code.literal-block > span.gs { font-weight: bold } /* Generic.Strong */
pre.code.literal-block > span.gu { color: #3c3836; text-decoration: underline } /* Generic.Subheading */
pre.code.literal-block > span.gt { color: #9d0006 } /* Generic.Traceback */
pre.code.literal-block > span.kc { color: #9d0006 } /* Keyword.Constant */
pre.code.literal-block > span.kd { color: #9d0006 } /* Keyword.Declaration */
pre.code.literal-block > span.kn { color: #9d0006 } /* Keyword.Namespace */
pre.code.literal-block > span.kp { color: #9d0006 } /* Keyword.Pseudo */
pre.code.literal-block > span.kr { color: #9d0006 } /* Keyword.Reserved */
pre.code.literal-block > span.kt { color: #9d0006 } /* Keyword.Type */
pre.code.literal-block > span.m { color: #8f3f71 } /* Literal.Number */
pre.code.literal-block > span.s { color: #79740e } /* Literal.String */
pre.code.literal-block > span.na { color: #b57614 } /* Name.Attribute */
pre.code.literal-block > span.nb { color: #af3a03 } /* Name.Builtin */
pre.code.literal-block > span.nc { color: #427b58 } /* Name.Class */
pre.code.literal-block > span.no { color: #8f3f71 } /* Name.Constant */
pre.code.literal-block > span.nd { color: #9d0006 } /* Name.Decorator */
pre.code.literal-block > span.ne { color: #9d0006 } /* Name.Exception */
pre.code.literal-block > span.nf { color: #427b58 } /* Name.Function */
pre.code.literal-block > span.nn { color: #427b58 } /* Name.Namespace */
pre.code.literal-block > span.nt { color: #427b58 } /* Name.Tag */
pre.code.literal-block > span.nv { color: #076678 } /* Name.Variable */
pre.code.literal-block > span.ow { color: #9d0006 } /* Operator.Word */
pre.code.literal-block > span.mb { color: #8f3f71 } /* Literal.Number.Bin */
pre.code.literal-block > span.mf { color: #8f3f71 } /* Literal.Number.Float */
pre.code.literal-block > span.mh { color: #8f3f71 } /* Literal.Number.Hex */
pre.code.literal-block > span.mi { color: #8f3f71 } /* Literal.Number.Integer */
pre.code.literal-block > span.mo { color: #8f3f71 } /* Literal.Number.Oct */
pre.code.literal-block > span.sa { color: #79740e } /* Literal.String.Affix */
pre.code.literal-block > span.sb { color: #79740e } /* Literal.String.Backtick */
pre.code.literal-block > span.sc { color: #79740e } /* Literal.String.Char */
pre.code.literal-block > span.dl { color: #79740e } /* Literal.String.Delimiter */
pre.code.literal-block > span.sd { color: #79740e } /* Literal.String.Doc */
pre.code.literal-block > span.s2 { color: #79740e } /* Literal.String.Double */
pre.code.literal-block > span.se { color: #af3a03 } /* Literal.String.Escape */
pre.code.literal-block > span.sh { color: #79740e } /* Literal.String.Heredoc */
pre.code.literal-block > span.si { color: #79740e } /* Literal.String.Interpol */
pre.code.literal-block > span.sx { color: #79740e } /* Literal.String.Other */
pre.code.literal-block > span.sr { color: #79740e } /* Literal.String.Regex */
pre.code.literal-block > span.s1 { color: #79740e } /* Literal.String.Single */
pre.code.literal-block > span.ss { color: #79740e } /* Literal.String.Symbol */
pre.code.literal-block > span.bp { color: #af3a03 } /* Name.Builtin.Pseudo */
pre.code.literal-block > span.fm { color: #427b58 } /* Name.Function.Magic */
pre.code.literal-block > span.vc { color: #076678 } /* Name.Variable.Class */
pre.code.literal-block > span.vg { color: #076678 } /* Name.Variable.Global */
pre.code.literal-block > span.vi { color: #076678 } /* Name.Variable.Instance */
pre.code.literal-block > span.vm { color: #076678 } /* Name.Variable.Magic */
pre.code.literal-block > span.il { color: #8f3f71 } /* Literal.Number.Integer.Long */
