pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
pre.code.literal-block .hll { background-color: #ffffcc }
pre.code.literal-block { background: #ffffff; }
pre.code.literal-block .c { color: #FF0000; font-style: italic } /* Comment */
pre.code.literal-block .k { color: #0000FF } /* Keyword */
pre.code.literal-block .ch { color: #FF0000; font-style: italic } /* Comment.Hashbang */
pre.code.literal-block .cm { color: #FF0000; font-style: italic } /* Comment.Multiline */
pre.code.literal-block .cp { color: #FF0000; font-style: italic } /* Comment.Preproc */
pre.code.literal-block .cpf { color: #FF0000; font-style: italic } /* Comment.PreprocFile */
pre.code.literal-block .c1 { color: #FF0000; font-style: italic } /* Comment.Single */
pre.code.literal-block .cs { color: #FF0000; font-style: italic } /* Comment.Special */
pre.code.literal-block .kc { color: #0000FF } /* Keyword.Constant */
pre.code.literal-block .kd { color: #0000FF } /* Keyword.Declaration */
pre.code.literal-block .kn { color: #0000FF } /* Keyword.Namespace */
pre.code.literal-block .kp { color: #0000FF } /* Keyword.Pseudo */
pre.code.literal-block .kr { color: #0000FF } /* Keyword.Reserved */
pre.code.literal-block .kt { color: #0000FF } /* Keyword.Type */
pre.code.literal-block .s { color: #009C00 } /* Literal.String */
pre.code.literal-block .nc { color: #007575 } /* Name.Class */
pre.code.literal-block .nd { color: #CC00A3 } /* Name.Decorator */
pre.code.literal-block .nf { color: #C34E00 } /* Name.Function */
pre.code.literal-block .sa { color: #009C00 } /* Literal.String.Affix */
pre.code.literal-block .sb { color: #009C00 } /* Literal.String.Backtick */
pre.code.literal-block .sc { color: #009C00 } /* Literal.String.Char */
pre.code.literal-block .dl { color: #009C00 } /* Literal.String.Delimiter */
pre.code.literal-block .sd { color: #009C00 } /* Literal.String.Doc */
pre.code.literal-block .s2 { color: #009C00 } /* Literal.String.Double */
pre.code.literal-block .se { color: #009C00 } /* Literal.String.Escape */
pre.code.literal-block .sh { color: #009C00 } /* Literal.String.Heredoc */
pre.code.literal-block .si { color: #009C00 } /* Literal.String.Interpol */
pre.code.literal-block .sx { color: #009C00 } /* Literal.String.Other */
pre.code.literal-block .sr { color: #009C00 } /* Literal.String.Regex */
pre.code.literal-block .s1 { color: #009C00 } /* Literal.String.Single */
pre.code.literal-block .ss { color: #009C00 } /* Literal.String.Symbol */
pre.code.literal-block .fm { color: #C34E00 } /* Name.Function.Magic */
