pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
pre.code.literal-block .hll { background-color: #ffffcc }
pre.code.literal-block { background: #1e1e27; color: #cfbfad }
pre.code.literal-block .c { color: #cd8b00 } /* Comment */
pre.code.literal-block .err { color: #ffffff; background-color: #6e2e2e } /* Error */
pre.code.literal-block .k { color: #808bed } /* Keyword */
pre.code.literal-block .n { color: #cfbfad } /* Name */
pre.code.literal-block .o { color: #666666 } /* Operator */
pre.code.literal-block .x { color: #cfbfad } /* Other */
pre.code.literal-block .p { color: #cfbfad } /* Punctuation */
pre.code.literal-block .ch { color: #cd8b00 } /* Comment.Hashbang */
pre.code.literal-block .cm { color: #cd8b00 } /* Comment.Multiline */
pre.code.literal-block .cp { color: #409090 } /* Comment.Preproc */
pre.code.literal-block .cpf { color: #ffcd8b; background-color: #404040 } /* Comment.PreprocFile */
pre.code.literal-block .c1 { color: #cd8b00 } /* Comment.Single */
pre.code.literal-block .cs { color: #808bed } /* Comment.Special */
pre.code.literal-block .gd { color: #A00000 } /* Generic.Deleted */
pre.code.literal-block .ge { font-style: italic } /* Generic.Emph */
pre.code.literal-block .gr { color: #FF0000 } /* Generic.Error */
pre.code.literal-block .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre.code.literal-block .gi { color: #00A000 } /* Generic.Inserted */
pre.code.literal-block .go { color: #888888 } /* Generic.Output */
pre.code.literal-block .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
pre.code.literal-block .gs { font-weight: bold } /* Generic.Strong */
pre.code.literal-block .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre.code.literal-block .gt { color: #0044DD } /* Generic.Traceback */
pre.code.literal-block .kc { color: #808bed } /* Keyword.Constant */
pre.code.literal-block .kd { color: #808bed } /* Keyword.Declaration */
pre.code.literal-block .kn { color: #808bed } /* Keyword.Namespace */
pre.code.literal-block .kp { color: #808bed } /* Keyword.Pseudo */
pre.code.literal-block .kr { color: #808bed } /* Keyword.Reserved */
pre.code.literal-block .kt { color: #ff8bff } /* Keyword.Type */
pre.code.literal-block .m { color: #f0ad6d } /* Literal.Number */
pre.code.literal-block .s { color: #ffcd8b; background-color: #404040 } /* Literal.String */
pre.code.literal-block .na { color: #cfbfad } /* Name.Attribute */
pre.code.literal-block .nb { color: #808bed } /* Name.Builtin */
pre.code.literal-block .nc { color: #ff8bff } /* Name.Class */
pre.code.literal-block .no { color: #409090 } /* Name.Constant */
pre.code.literal-block .nd { color: #409090 } /* Name.Decorator */
pre.code.literal-block .ni { color: #cfbfad } /* Name.Entity */
pre.code.literal-block .ne { color: #ff0000 } /* Name.Exception */
pre.code.literal-block .nf { color: #c080d0 } /* Name.Function */
pre.code.literal-block .nl { color: #808bed } /* Name.Label */
pre.code.literal-block .nn { color: #ff0000 } /* Name.Namespace */
pre.code.literal-block .nx { color: #cfbfad } /* Name.Other */
pre.code.literal-block .py { color: #cfbfad } /* Name.Property */
pre.code.literal-block .nt { color: #cfbfad } /* Name.Tag */
pre.code.literal-block .nv { color: #cfbfad } /* Name.Variable */
pre.code.literal-block .ow { color: #666666 } /* Operator.Word */
pre.code.literal-block .w { color: #434357 } /* Text.Whitespace */
pre.code.literal-block .mb { color: #f0ad6d } /* Literal.Number.Bin */
pre.code.literal-block .mf { color: #f0ad6d } /* Literal.Number.Float */
pre.code.literal-block .mh { color: #f0ad6d } /* Literal.Number.Hex */
pre.code.literal-block .mi { color: #f0ad6d } /* Literal.Number.Integer */
pre.code.literal-block .mo { color: #f0ad6d } /* Literal.Number.Oct */
pre.code.literal-block .sa { color: #ffcd8b; background-color: #404040 } /* Literal.String.Affix */
pre.code.literal-block .sb { color: #ffcd8b; background-color: #404040 } /* Literal.String.Backtick */
pre.code.literal-block .sc { color: #ffcd8b; background-color: #404040 } /* Literal.String.Char */
pre.code.literal-block .dl { color: #ffcd8b; background-color: #404040 } /* Literal.String.Delimiter */
pre.code.literal-block .sd { color: #808bed; background-color: #404040 } /* Literal.String.Doc */
pre.code.literal-block .s2 { color: #ffcd8b; background-color: #404040 } /* Literal.String.Double */
pre.code.literal-block .se { color: #ffcd8b; background-color: #404040 } /* Literal.String.Escape */
pre.code.literal-block .sh { color: #ffcd8b; background-color: #404040 } /* Literal.String.Heredoc */
pre.code.literal-block .si { color: #ffcd8b; background-color: #404040 } /* Literal.String.Interpol */
pre.code.literal-block .sx { color: #ffcd8b; background-color: #404040 } /* Literal.String.Other */
pre.code.literal-block .sr { color: #ffcd8b; background-color: #404040 } /* Literal.String.Regex */
pre.code.literal-block .s1 { color: #ffcd8b; background-color: #404040 } /* Literal.String.Single */
pre.code.literal-block .ss { color: #ffcd8b; background-color: #404040 } /* Literal.String.Symbol */
pre.code.literal-block .bp { color: #ffff00 } /* Name.Builtin.Pseudo */
pre.code.literal-block .fm { color: #c080d0 } /* Name.Function.Magic */
pre.code.literal-block .vc { color: #cfbfad } /* Name.Variable.Class */
pre.code.literal-block .vg { color: #cfbfad } /* Name.Variable.Global */
pre.code.literal-block .vi { color: #cfbfad } /* Name.Variable.Instance */
pre.code.literal-block .vm { color: #cfbfad } /* Name.Variable.Magic */
pre.code.literal-block .il { color: #f0ad6d } /* Literal.Number.Integer.Long */
