pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
pre.code.literal-block .hll { background-color: #a39e9b }
pre.code.literal-block { background: #e7e9db; color: #2f1e2e }
pre.code.literal-block .c { color: #8d8687 } /* Comment */
pre.code.literal-block .err { color: #ef6155 } /* Error */
pre.code.literal-block .k { color: #815ba4 } /* Keyword */
pre.code.literal-block .l { color: #f99b15 } /* Literal */
pre.code.literal-block .n { color: #2f1e2e } /* Name */
pre.code.literal-block .o { color: #5bc4bf } /* Operator */
pre.code.literal-block .p { color: #2f1e2e } /* Punctuation */
pre.code.literal-block .ch { color: #8d8687 } /* Comment.Hashbang */
pre.code.literal-block .cm { color: #8d8687 } /* Comment.Multiline */
pre.code.literal-block .cp { color: #8d8687 } /* Comment.Preproc */
pre.code.literal-block .cpf { color: #8d8687 } /* Comment.PreprocFile */
pre.code.literal-block .c1 { color: #8d8687 } /* Comment.Single */
pre.code.literal-block .cs { color: #8d8687 } /* Comment.Special */
pre.code.literal-block .gd { color: #ef6155 } /* Generic.Deleted */
pre.code.literal-block .ge { font-style: italic } /* Generic.Emph */
pre.code.literal-block .gh { color: #2f1e2e; font-weight: bold } /* Generic.Heading */
pre.code.literal-block .gi { color: #48b685 } /* Generic.Inserted */
pre.code.literal-block .gp { color: #8d8687; font-weight: bold } /* Generic.Prompt */
pre.code.literal-block .gs { font-weight: bold } /* Generic.Strong */
pre.code.literal-block .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
pre.code.literal-block .kc { color: #815ba4 } /* Keyword.Constant */
pre.code.literal-block .kd { color: #815ba4 } /* Keyword.Declaration */
pre.code.literal-block .kn { color: #5bc4bf } /* Keyword.Namespace */
pre.code.literal-block .kp { color: #815ba4 } /* Keyword.Pseudo */
pre.code.literal-block .kr { color: #815ba4 } /* Keyword.Reserved */
pre.code.literal-block .kt { color: #fec418 } /* Keyword.Type */
pre.code.literal-block .ld { color: #48b685 } /* Literal.Date */
pre.code.literal-block .m { color: #f99b15 } /* Literal.Number */
pre.code.literal-block .s { color: #48b685 } /* Literal.String */
pre.code.literal-block .na { color: #06b6ef } /* Name.Attribute */
pre.code.literal-block .nb { color: #2f1e2e } /* Name.Builtin */
pre.code.literal-block .nc { color: #fec418 } /* Name.Class */
pre.code.literal-block .no { color: #ef6155 } /* Name.Constant */
pre.code.literal-block .nd { color: #5bc4bf } /* Name.Decorator */
pre.code.literal-block .ni { color: #2f1e2e } /* Name.Entity */
pre.code.literal-block .ne { color: #ef6155 } /* Name.Exception */
pre.code.literal-block .nf { color: #06b6ef } /* Name.Function */
pre.code.literal-block .nl { color: #2f1e2e } /* Name.Label */
pre.code.literal-block .nn { color: #fec418 } /* Name.Namespace */
pre.code.literal-block .nx { color: #06b6ef } /* Name.Other */
pre.code.literal-block .py { color: #2f1e2e } /* Name.Property */
pre.code.literal-block .nt { color: #5bc4bf } /* Name.Tag */
pre.code.literal-block .nv { color: #ef6155 } /* Name.Variable */
pre.code.literal-block .ow { color: #5bc4bf } /* Operator.Word */
pre.code.literal-block .w { color: #2f1e2e } /* Text.Whitespace */
pre.code.literal-block .mb { color: #f99b15 } /* Literal.Number.Bin */
pre.code.literal-block .mf { color: #f99b15 } /* Literal.Number.Float */
pre.code.literal-block .mh { color: #f99b15 } /* Literal.Number.Hex */
pre.code.literal-block .mi { color: #f99b15 } /* Literal.Number.Integer */
pre.code.literal-block .mo { color: #f99b15 } /* Literal.Number.Oct */
pre.code.literal-block .sa { color: #48b685 } /* Literal.String.Affix */
pre.code.literal-block .sb { color: #48b685 } /* Literal.String.Backtick */
pre.code.literal-block .sc { color: #2f1e2e } /* Literal.String.Char */
pre.code.literal-block .dl { color: #48b685 } /* Literal.String.Delimiter */
pre.code.literal-block .sd { color: #8d8687 } /* Literal.String.Doc */
pre.code.literal-block .s2 { color: #48b685 } /* Literal.String.Double */
pre.code.literal-block .se { color: #f99b15 } /* Literal.String.Escape */
pre.code.literal-block .sh { color: #48b685 } /* Literal.String.Heredoc */
pre.code.literal-block .si { color: #f99b15 } /* Literal.String.Interpol */
pre.code.literal-block .sx { color: #48b685 } /* Literal.String.Other */
pre.code.literal-block .sr { color: #48b685 } /* Literal.String.Regex */
pre.code.literal-block .s1 { color: #48b685 } /* Literal.String.Single */
pre.code.literal-block .ss { color: #48b685 } /* Literal.String.Symbol */
pre.code.literal-block .bp { color: #2f1e2e } /* Name.Builtin.Pseudo */
pre.code.literal-block .fm { color: #06b6ef } /* Name.Function.Magic */
pre.code.literal-block .vc { color: #ef6155 } /* Name.Variable.Class */
pre.code.literal-block .vg { color: #ef6155 } /* Name.Variable.Global */
pre.code.literal-block .vi { color: #ef6155 } /* Name.Variable.Instance */
pre.code.literal-block .vm { color: #ef6155 } /* Name.Variable.Magic */
pre.code.literal-block .il { color: #f99b15 } /* Literal.Number.Integer.Long */
