pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
pre.code.literal-block .hll { background-color: #ffffcc }
pre.code.literal-block { background: #ffffff; color: #4d4d4d }
pre.code.literal-block .c { color: #0080ff; font-style: italic } /* Comment */
pre.code.literal-block .err { color: #ffffff; background-color: #cc0000 } /* Error */
pre.code.literal-block .k { color: #2c5dcd; font-weight: bold } /* Keyword */
pre.code.literal-block .o { color: #2c5dcd } /* Operator */
pre.code.literal-block .ch { color: #0080ff; font-style: italic } /* Comment.Hashbang */
pre.code.literal-block .cm { color: #0080ff; font-style: italic } /* Comment.Multiline */
pre.code.literal-block .cp { color: #0080ff } /* Comment.Preproc */
pre.code.literal-block .cpf { color: #0080ff; font-style: italic } /* Comment.PreprocFile */
pre.code.literal-block .c1 { color: #0080ff; font-style: italic } /* Comment.Single */
pre.code.literal-block .cs { color: #0080ff; font-weight: bold; font-style: italic } /* Comment.Special */
pre.code.literal-block .gd { background-color: #ffcccc; border: 1px solid #c5060b } /* Generic.Deleted */
pre.code.literal-block .ge { font-style: italic } /* Generic.Emph */
pre.code.literal-block .gr { color: #ff0000 } /* Generic.Error */
pre.code.literal-block .gh { color: #2c5dcd; font-weight: bold } /* Generic.Heading */
pre.code.literal-block .gi { background-color: #ccffcc; border: 1px solid #00cc00 } /* Generic.Inserted */
pre.code.literal-block .go { color: #aaaaaa } /* Generic.Output */
pre.code.literal-block .gp { color: #2c5dcd; font-weight: bold } /* Generic.Prompt */
pre.code.literal-block .gs { font-weight: bold } /* Generic.Strong */
pre.code.literal-block .gu { color: #2c5dcd; font-weight: bold } /* Generic.Subheading */
pre.code.literal-block .gt { color: #c5060b } /* Generic.Traceback */
pre.code.literal-block .kc { color: #2c5dcd; font-weight: bold } /* Keyword.Constant */
pre.code.literal-block .kd { color: #2c5dcd; font-weight: bold } /* Keyword.Declaration */
pre.code.literal-block .kn { color: #2c5dcd; font-weight: bold } /* Keyword.Namespace */
pre.code.literal-block .kp { color: #2c5dcd } /* Keyword.Pseudo */
pre.code.literal-block .kr { color: #2c5dcd; font-weight: bold } /* Keyword.Reserved */
pre.code.literal-block .kt { color: #5918bb; font-weight: bold } /* Keyword.Type */
pre.code.literal-block .m { color: #5918bb; font-weight: bold } /* Literal.Number */
pre.code.literal-block .s { color: #00cc66 } /* Literal.String */
pre.code.literal-block .na { color: #2c5dcd; font-style: italic } /* Name.Attribute */
pre.code.literal-block .nb { color: #5918bb; font-weight: bold } /* Name.Builtin */
pre.code.literal-block .nc { text-decoration: underline } /* Name.Class */
pre.code.literal-block .no { color: #318495 } /* Name.Constant */
pre.code.literal-block .nd { color: #ff8000; font-weight: bold } /* Name.Decorator */
pre.code.literal-block .ni { color: #5918bb; font-weight: bold } /* Name.Entity */
pre.code.literal-block .ne { color: #5918bb; font-weight: bold } /* Name.Exception */
pre.code.literal-block .nf { color: #ff8000; font-weight: bold } /* Name.Function */
pre.code.literal-block .nt { color: #2c5dcd; font-weight: bold } /* Name.Tag */
pre.code.literal-block .ow { color: #2c5dcd; font-weight: bold } /* Operator.Word */
pre.code.literal-block .w { color: #cbcbcb } /* Text.Whitespace */
pre.code.literal-block .mb { color: #5918bb; font-weight: bold } /* Literal.Number.Bin */
pre.code.literal-block .mf { color: #5918bb; font-weight: bold } /* Literal.Number.Float */
pre.code.literal-block .mh { color: #5918bb; font-weight: bold } /* Literal.Number.Hex */
pre.code.literal-block .mi { color: #5918bb; font-weight: bold } /* Literal.Number.Integer */
pre.code.literal-block .mo { color: #5918bb; font-weight: bold } /* Literal.Number.Oct */
pre.code.literal-block .sa { color: #00cc66 } /* Literal.String.Affix */
pre.code.literal-block .sb { color: #00cc66 } /* Literal.String.Backtick */
pre.code.literal-block .sc { color: #00cc66 } /* Literal.String.Char */
pre.code.literal-block .dl { color: #00cc66 } /* Literal.String.Delimiter */
pre.code.literal-block .sd { color: #00cc66; font-style: italic } /* Literal.String.Doc */
pre.code.literal-block .s2 { color: #00cc66 } /* Literal.String.Double */
pre.code.literal-block .se { color: #c5060b; font-weight: bold } /* Literal.String.Escape */
pre.code.literal-block .sh { color: #00cc66 } /* Literal.String.Heredoc */
pre.code.literal-block .si { color: #00cc66 } /* Literal.String.Interpol */
pre.code.literal-block .sx { color: #318495 } /* Literal.String.Other */
pre.code.literal-block .sr { color: #00cc66 } /* Literal.String.Regex */
pre.code.literal-block .s1 { color: #00cc66 } /* Literal.String.Single */
pre.code.literal-block .ss { color: #c5060b; font-weight: bold } /* Literal.String.Symbol */
pre.code.literal-block .bp { color: #5918bb; font-weight: bold } /* Name.Builtin.Pseudo */
pre.code.literal-block .fm { color: #ff8000; font-weight: bold } /* Name.Function.Magic */
pre.code.literal-block .il { color: #5918bb; font-weight: bold } /* Literal.Number.Integer.Long */
