pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
pre.code.literal-block .hll { background-color: #ffffcc }
pre.code.literal-block { background: #ffffff; }
pre.code.literal-block .c { color: #008800; font-style: italic } /* Comment */
pre.code.literal-block .err { color: #a61717; background-color: #e3d2d2 } /* Error */
pre.code.literal-block .g { color: #2c2cff } /* Generic */
pre.code.literal-block .k { color: #2c2cff } /* Keyword */
pre.code.literal-block .x { background-color: #ffffe0 } /* Other */
pre.code.literal-block .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
pre.code.literal-block .cm { color: #008800; font-style: italic } /* Comment.Multiline */
pre.code.literal-block .cp { color: #008800; font-style: italic } /* Comment.Preproc */
pre.code.literal-block .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
pre.code.literal-block .c1 { color: #008800; font-style: italic } /* Comment.Single */
pre.code.literal-block .cs { color: #008800; font-style: italic } /* Comment.Special */
pre.code.literal-block .gd { color: #2c2cff } /* Generic.Deleted */
pre.code.literal-block .ge { color: #008800 } /* Generic.Emph */
pre.code.literal-block .gr { color: #d30202 } /* Generic.Error */
pre.code.literal-block .gh { color: #2c2cff } /* Generic.Heading */
pre.code.literal-block .gi { color: #2c2cff } /* Generic.Inserted */
pre.code.literal-block .go { color: #2c2cff } /* Generic.Output */
pre.code.literal-block .gp { color: #2c2cff } /* Generic.Prompt */
pre.code.literal-block .gs { color: #2c2cff } /* Generic.Strong */
pre.code.literal-block .gu { color: #2c2cff } /* Generic.Subheading */
pre.code.literal-block .gt { color: #2c2cff } /* Generic.Traceback */
pre.code.literal-block .kc { color: #2c2cff; font-weight: bold } /* Keyword.Constant */
pre.code.literal-block .kd { color: #2c2cff } /* Keyword.Declaration */
pre.code.literal-block .kn { color: #2c2cff } /* Keyword.Namespace */
pre.code.literal-block .kp { color: #2c2cff } /* Keyword.Pseudo */
pre.code.literal-block .kr { color: #353580; font-weight: bold } /* Keyword.Reserved */
pre.code.literal-block .kt { color: #2c2cff } /* Keyword.Type */
pre.code.literal-block .m { color: #2e8b57; font-weight: bold } /* Literal.Number */
pre.code.literal-block .s { color: #800080 } /* Literal.String */
pre.code.literal-block .nb { color: #2c2cff } /* Name.Builtin */
pre.code.literal-block .nf { font-weight: bold; font-style: italic } /* Name.Function */
pre.code.literal-block .nv { color: #2c2cff; font-weight: bold } /* Name.Variable */
pre.code.literal-block .w { color: #bbbbbb } /* Text.Whitespace */
pre.code.literal-block .mb { color: #2e8b57; font-weight: bold } /* Literal.Number.Bin */
pre.code.literal-block .mf { color: #2e8b57; font-weight: bold } /* Literal.Number.Float */
pre.code.literal-block .mh { color: #2e8b57; font-weight: bold } /* Literal.Number.Hex */
pre.code.literal-block .mi { color: #2e8b57; font-weight: bold } /* Literal.Number.Integer */
pre.code.literal-block .mo { color: #2e8b57; font-weight: bold } /* Literal.Number.Oct */
pre.code.literal-block .sa { color: #800080 } /* Literal.String.Affix */
pre.code.literal-block .sb { color: #800080 } /* Literal.String.Backtick */
pre.code.literal-block .sc { color: #800080 } /* Literal.String.Char */
pre.code.literal-block .dl { color: #800080 } /* Literal.String.Delimiter */
pre.code.literal-block .sd { color: #800080 } /* Literal.String.Doc */
pre.code.literal-block .s2 { color: #800080 } /* Literal.String.Double */
pre.code.literal-block .se { color: #800080 } /* Literal.String.Escape */
pre.code.literal-block .sh { color: #800080 } /* Literal.String.Heredoc */
pre.code.literal-block .si { color: #800080 } /* Literal.String.Interpol */
pre.code.literal-block .sx { color: #800080 } /* Literal.String.Other */
pre.code.literal-block .sr { color: #800080 } /* Literal.String.Regex */
pre.code.literal-block .s1 { color: #800080 } /* Literal.String.Single */
pre.code.literal-block .ss { color: #800080 } /* Literal.String.Symbol */
pre.code.literal-block .bp { color: #2c2cff } /* Name.Builtin.Pseudo */
pre.code.literal-block .fm { font-weight: bold; font-style: italic } /* Name.Function.Magic */
pre.code.literal-block .vc { color: #2c2cff; font-weight: bold } /* Name.Variable.Class */
pre.code.literal-block .vg { color: #2c2cff; font-weight: bold } /* Name.Variable.Global */
pre.code.literal-block .vi { color: #2c2cff; font-weight: bold } /* Name.Variable.Instance */
pre.code.literal-block .vm { color: #2c2cff; font-weight: bold } /* Name.Variable.Magic */
pre.code.literal-block .il { color: #2e8b57; font-weight: bold } /* Literal.Number.Integer.Long */
