pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
pre.code.literal-block .hll { background-color: #ffffcc }
pre.code.literal-block { background: #f8f8f8; }
pre.code.literal-block .c { color: #8f5902; font-style: italic } /* Comment */
pre.code.literal-block .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
pre.code.literal-block .g { color: #000000 } /* Generic */
pre.code.literal-block .k { color: #204a87; font-weight: bold } /* Keyword */
pre.code.literal-block .l { color: #000000 } /* Literal */
pre.code.literal-block .n { color: #000000 } /* Name */
pre.code.literal-block .o { color: #ce5c00; font-weight: bold } /* Operator */
pre.code.literal-block .x { color: #000000 } /* Other */
pre.code.literal-block .p { color: #000000; font-weight: bold } /* Punctuation */
pre.code.literal-block .ch { color: #8f5902; font-style: italic } /* Comment.Hashbang */
pre.code.literal-block .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
pre.code.literal-block .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
pre.code.literal-block .cpf { color: #8f5902; font-style: italic } /* Comment.PreprocFile */
pre.code.literal-block .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
pre.code.literal-block .cs { color: #8f5902; font-style: italic } /* Comment.Special */
pre.code.literal-block .gd { color: #a40000 } /* Generic.Deleted */
pre.code.literal-block .ge { color: #000000; font-style: italic } /* Generic.Emph */
pre.code.literal-block .gr { color: #ef2929 } /* Generic.Error */
pre.code.literal-block .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre.code.literal-block .gi { color: #00A000 } /* Generic.Inserted */
pre.code.literal-block .go { color: #000000; font-style: italic } /* Generic.Output */
pre.code.literal-block .gp { color: #8f5902 } /* Generic.Prompt */
pre.code.literal-block .gs { color: #000000; font-weight: bold } /* Generic.Strong */
pre.code.literal-block .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre.code.literal-block .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
pre.code.literal-block .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
pre.code.literal-block .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
pre.code.literal-block .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
pre.code.literal-block .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
pre.code.literal-block .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
pre.code.literal-block .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
pre.code.literal-block .ld { color: #000000 } /* Literal.Date */
pre.code.literal-block .m { color: #0000cf; font-weight: bold } /* Literal.Number */
pre.code.literal-block .s { color: #4e9a06 } /* Literal.String */
pre.code.literal-block .na { color: #c4a000 } /* Name.Attribute */
pre.code.literal-block .nb { color: #204a87 } /* Name.Builtin */
pre.code.literal-block .nc { color: #000000 } /* Name.Class */
pre.code.literal-block .no { color: #000000 } /* Name.Constant */
pre.code.literal-block .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
pre.code.literal-block .ni { color: #ce5c00 } /* Name.Entity */
pre.code.literal-block .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
pre.code.literal-block .nf { color: #000000 } /* Name.Function */
pre.code.literal-block .nl { color: #f57900 } /* Name.Label */
pre.code.literal-block .nn { color: #000000 } /* Name.Namespace */
pre.code.literal-block .nx { color: #000000 } /* Name.Other */
pre.code.literal-block .py { color: #000000 } /* Name.Property */
pre.code.literal-block .nt { color: #204a87; font-weight: bold } /* Name.Tag */
pre.code.literal-block .nv { color: #000000 } /* Name.Variable */
pre.code.literal-block .ow { color: #204a87; font-weight: bold } /* Operator.Word */
pre.code.literal-block .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
pre.code.literal-block .mb { color: #0000cf; font-weight: bold } /* Literal.Number.Bin */
pre.code.literal-block .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
pre.code.literal-block .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
pre.code.literal-block .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
pre.code.literal-block .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
pre.code.literal-block .sa { color: #4e9a06 } /* Literal.String.Affix */
pre.code.literal-block .sb { color: #4e9a06 } /* Literal.String.Backtick */
pre.code.literal-block .sc { color: #4e9a06 } /* Literal.String.Char */
pre.code.literal-block .dl { color: #4e9a06 } /* Literal.String.Delimiter */
pre.code.literal-block .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
pre.code.literal-block .s2 { color: #4e9a06 } /* Literal.String.Double */
pre.code.literal-block .se { color: #4e9a06 } /* Literal.String.Escape */
pre.code.literal-block .sh { color: #4e9a06 } /* Literal.String.Heredoc */
pre.code.literal-block .si { color: #4e9a06 } /* Literal.String.Interpol */
pre.code.literal-block .sx { color: #4e9a06 } /* Literal.String.Other */
pre.code.literal-block .sr { color: #4e9a06 } /* Literal.String.Regex */
pre.code.literal-block .s1 { color: #4e9a06 } /* Literal.String.Single */
pre.code.literal-block .ss { color: #4e9a06 } /* Literal.String.Symbol */
pre.code.literal-block .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
pre.code.literal-block .fm { color: #000000 } /* Name.Function.Magic */
pre.code.literal-block .vc { color: #000000 } /* Name.Variable.Class */
pre.code.literal-block .vg { color: #000000 } /* Name.Variable.Global */
pre.code.literal-block .vi { color: #000000 } /* Name.Variable.Instance */
pre.code.literal-block .vm { color: #000000 } /* Name.Variable.Magic */
pre.code.literal-block .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
